/* External CSS Styling for Odin Recipes website */

.title {
  font-size: 48px;
  font-weight: bold;
  color: rgb(228, 169, 22);
  text-align: center;
}

.wings {
  color: rgb(180, 43, 9);
}

.steak {
  color: rgb(66, 1, 1);
}

.general {
  color: rgb(255, 136, 0);
}

img {
    width: 300px;
    height: auto;
}

div.image {
    text-align: center;
}
